<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home - Should I put it back?</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
  <header>
      <a href="/">Closet Witch</a>
  </header>
  <div class="container">
    <div class="row">
      <div class="" style="margin-top: 5%">
        <h1><a href="/">Should I put it back?</a></h1>
        <p>Put in a search and find out.</p>
        <div>
            <form action="{{ url_for('search') }}" method="GET">
              <div class="row">
                  <div class="six columns">
                      <label for="search">Search</label>
                      <input name="query" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="u-full-width" type="search" id="search" autofocus required>
                  </div>
                  
                  <div class="three columns">
                      <label for="cost">Item Cost (Optional)</label>
                      <input class="u-full-width" name="cost" type="number" id="cost" min="0" max="10000" step="0.01" value="{{ cost }}">
                  </div>
                  <div class="three columns">
                      <label for="pages">Pages</label>
                      <input class="u-full-width" name="pages" type="number" id="pages" min="1" max="5" value="1">
                  </div>
              </div>
                <div id="filter-input-group" class="row flex flex-row">
                    <label for="sold">Sold
                        <input type="radio" id="sold" name="filter" value="sold" checked="checked">
                    </label>
                    <label for="available">Available
                        <input type="radio" id="available" name="filter" value="available">
                    </label>
                </div>

              <button type="submit" class="button button-primary">Search</button>
              <button id="reset-search">Clear</button>
            </form>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
      let resetSearchButton = document.getElementById("reset-search");
      let searchField = document.getElementById("search");
      resetSearchButton.addEventListener("click", function(e) {
          e.preventDefault();
          searchField.value = "";
          searchField.focus();
      });
  </script>
</body>
</html>
