<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home - Should I put it back?</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
  <div id="top" class="container">
    <div class="row">
      <div style="margin-top: 5%">
        <h1><a href="/">Should I put it back?</a></h1>
        <form action="{{ url_for('search') }}" method="GET">
            <div class="flex flex-col">
                <div>
                    <label for="search">Search sold items</label>
                    <input name="query" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="u-full-width" type="search" value="{{ query }}" id="search" required>
                    
                </div>
                <div class="flex flex-row justify-start">
                    <button id="search-button" type="submit" class="button button-primary">Search</button>
                    <button id="reset-search">Clear</button>
                </div>
            </div>
            <input name="cost" type="hidden" value="{{ cost }}">
            <input class="u-full-width" name="pages" type="hidden" value="{{ pages }}">
            <a href="{{ link_to_results }}" target="_blank">Link to results (page 1/{{ pages }})</a>
        </form>
        {% if items %}
            <div>
                <ul>
                    <li><strong>${{ avg_item_sold_price }}</strong> is the average sold price based on {{ num_items }} items found.</li>
                    <li><strong>${{ avg_item_revenue }}</strong> is what sellers earn on average after ${{ selling_fee_amt }} fees.</li>
                    {% if cost %}
                    <li><strong>${{ breakeven_price }}</strong> is the break even selling price based on your item cost of ${{ cost }}.</li>
                    {% endif %}
                </ul>
            </div>
            <div class="flex flex-wrap">
            {% for item in items %}
                <div class="item">
                    <img src="{{ item.image_url }}"/>
                    <a class="title" href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    <span class="price"><strong>${{ item.sold_price }}</strong>
                        <span class="size">{{ item.size }}</span>
                        {% if item.new_with_tag %}
                        <span class="condition">NWT</span>
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
            </div>
            <div class="back-to-top-wrapper">
                <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">🔝</a>
            </div>
        {% else %}
            <p>No listings found - try a different query?</p>
        {% endif %}
      </div>
    </div>
  </div>
  <script type="text/javascript">
      let resetSearchButton = document.getElementById("reset-search");
      let searchField = document.getElementById("search");
      resetSearchButton.addEventListener("click", function(e) {
          e.preventDefault();
          searchField.value = "";
          searchField.focus();
      });
  </script>
</body>
</html>
