{% extends "base.html" %}
{% block title %}ShareSpell{% endblock %}
{% block content %} 
    <h2 class="announce">Share your ENTIRE closet in minutes to boost ENGAGEMENT and SALES</h2>
    <div class="features">
        <div id="feature-one">
            <div class="info">
                <div class="install">
                    <h2>Install Now!</h2>
                    <button class="button button-primary">Install the chrome extension</button>
                </div>
                <div class="pricing">
                    <h2>Pricing</h2>
                    <p>Completely <strong>free</strong> to use for now. We're still in alpha and are quickly improving and adding new features. The best way to support our work is to send us feedback at <a href="mailto:contact@closetwitch.com">contact@closetwitch.com</a>.</p>
                </div>
                <div class="support">
                    <h2>Contact and Support</h2>
                    <p>Have questions? Having an issue? You can reach our team at <a href="mailto:contact@closetwitch.com">contact@closetwitch.com</a> by email and expect a response in less than <strong>12 hours</strong>.</p>
                </div>
                <div class="faq">
                    <h2>FAQ</h2>
                    <div>
                        <p><strong>Is there a limit to how much I can share?</strong></p>
                        <p>Nope!</p>
                    </div>
                    <div>
                        <p><strong>Will this mess up the order of my closet?!</strong></p>
                        <p>ShareSpell will always share your closet in reverse order so that the order is maintained. Just make sure that your browser window (your poshmark closet page where sharespell is running) stays open until the sharing is complete and you will not see changes in closet ordering.</p>
                    </div>
                    <div>
                        <p><strong>How much should I be sharing?</strong></p>
                        <p>You should share as much as you would do if you shared manually. Currently, ShareSpell will only share available items in your closet. If you have a large number of available items in your closet (say, 500-1000), we recommend keeping your total daily shares under 5000.</p>
                    </div>
                    <div>
                        <p><strong>What if I lose internet connection while ShareSpell is running?</strong></p>
                        <p>As long as your browser stays open, ShareSpell will remember where it left off and you can resume sharing once you're reconnected.</p>
                    </div>
                </div>
            </div>
            <div>
                <img src="{{ url_for('static', filename='images/sharing-screen.png') }}" class="screenshot"/>
            </div>
        </div>
    </div>
<div id="sharespell">
        <div class="hero"> 
            <div class="intro">
                <h3>Share your poshmark closet automatically</h3>
                <p>
                    ShareSpell is the simplest, most fun, and reliable way to share your closet on poshmark.
                </p>
                <button class="button button-primary">Install the chrome extension</button>
            </div>
        </div>
    </div>
    
{% endblock %}
